<form [(formGroup)]="form">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of helper; let i = index">
        <td>
          <span *ngIf="!contact.editable">{{ contact.id }}</span>
          <input
            id="id"
            formControlName="id"
            placeholder="ID"
            *ngIf="contact.editable"
          />
        </td>
        <td>
          <span *ngIf="!contact.editable">{{ contact.name }}</span>
          <input
            id="name"
            formControlName="name"
            placeholder="Name"
            *ngIf="contact.editable"
          />
        </td>
        <td>
          <span *ngIf="!contact.editable">{{ contact.email }}</span>
          <input
            id="email"
            formControlName="email"
            placeholder="Email"
            *ngIf="contact.editable"
          />
        </td>
        <td>
          <span *ngIf="!contact.editable">{{ contact.phone }}</span>
          <input
            id="phone"
            formControlName="phone"
            placeholder="Phone"
            *ngIf="contact.editable"
          />
        </td>

        <button *ngIf="!isEditing" [routerLink]="['/user', contact.id]">
          View
        </button>
        <button *ngIf="!isEditing" (click)="update(contact)">Update</button>
        <button
          *ngIf="isEditing && contact.editable"
          (click)="save(contact)"
          [disabled]="!form.valid"
        >
          Save
        </button>
        <button *ngIf="isEditing" (click)="cancel(contact)">
          Cancel
        </button>
        <button *ngIf="!isEditing" (click)="delete(contact.id)">Delete</button>

        <span *ngIf="isEditing && form.invalid && contact.editable">
          Check your data
        </span>
      </tr>
    </tbody>
  </table>
</form>
