<form [formGroup]="form" (ngSubmit)="update()">
  <label>ID: <input id="id" formControlName="id" [disabled]/></label>
  <label
    >Name: <input id="name" formControlName="name" placeholder="Name"
  /></label>
  <label
    >Email: <input id="email" formControlName="email" placeholder="Email"
  /></label>
  <label
    >Contact: <input id="phone" formControlName="phone" placeholder="Phone"
  /></label>
  <button type="submit" [disabled]="!form.valid">Submit</button>
  <button (click)="goHome()">Back</button>
</form>
